#-----------------------------------------------------------------------
#        Author: Aamnah
#          Link: https://aamnah.com
#       Version: 0.1.0
#          Date: 2018-12-20
#       Lastmod: 2026-04-24
#   Description: Git identity and aliases (lg pretty log, s status)
# Compatibility: Debian, Ubuntu, Armbian, macOS
#-----------------------------------------------------------------------

# ~/.gitconfig

[user]
  email = hello@aamnah.com
  name = Aamnah

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
   s = status
