#-----------------------------------------------------------------------
#          File: ~/.inputrc
#   Description: Readline config — case-insensitive tab completion
# Compatibility: Debian, Ubuntu, Armbian, macOS
#       Version: 0.0.1
#        Author: Aamnah
#          Link: https://aamnah.com
#          Date: 2018-12-20
#       Lastmod: 2026-04-24
#-----------------------------------------------------------------------

# Case-insensitive Tab completion
set completion-ignore-case on

# Show suggestions and matches without having to press Tab twice
set show-all-if-ambiguous on
