# ~/.nanorc

# https://www.nano-editor.org/dist/v2.9/nanorc.5.html 

set linenumbers
set autoindent
set softwrap
set tabstospaces
set tabsize 2
set mouse
set boldtext

# set titlecolor fgcolor,bgcolor
# Valid names for the foreground and background colors are: white, black, blue, green, red, cyan, yellow, magenta, and normal -- 
# where normal means the default foreground or background color. 
# The name of the foreground color may be prefixed with bright. And either "fgcolor" or ",bgcolor" may be left out.

# color combination to use for the titlebar.
set titlecolor magenta
set statuscolor magenta

# color combination to use for the shortcut key combos in the two help lines at the bottom
set keycolor yellow

# function descriptions in the two help lines at the bottom of the screen 
set functioncolor cyan

# colors for line numbers
set numbercolor magenta
